.w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2{
    color:#0592cd;
}



.site-footer{
    background-color: rgb(60, 60, 60); 
    margin-top: 150px;
    height: 100px; 
    font-size:15px; 
    color:whitesmoke;
    clear: both; 
    display:flex; 
    justify-content: center;
    
} 

.site-footer p{
    display: inline-block;
    margin-top: 40px;
    
}

.site-footer a{
    color:wheat;
}

.site-footer a:hover{
    color:yellow;
    text-decoration: none;
}

